/*Container*/
.container-fluid{
    margin-top: 2rem;
}

.category-header{
    margin-bottom: 2rem;
}

/*Product thumbnail*/
.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}

/*Thumbnail img*/
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

/*Thumbnail info-wrap*/
.card-product .info-wrap {
    overflow: hidden;
    max-height: 200px;
    padding: 15px;
    border-top: 1px solid #eee;
}

/*Thumbnail bottom part*/
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

/*The rating*/
.label-rating { margin-right:10px;
    color: #333;
    display: flex;
    vertical-align: middle;
    flex-direction: row-reverse;
}

/*Buttons*/
.bottom-wrap .btn{
    padding: 5px;
    background-color: rgb(70, 185, 46);
    border: 1px solid transparent;
}

.bottom-wrap .btn:hover{
    background-color: rgb(9, 77, 9);
    cursor: pointer;
}

.btn-success {
    color: #fff;
    background-color: rgb(70, 185, 46);
    border: 1px solid transparent;
}

button:focus {
    outline: 0px solid -webkit-focus-ring-color;
}

/*Thumbnail Headers*/
.title{
    text-align: center;
}

/*Thumbnail product description*/
.desc{
    margin-top: 1rem;
}

/*Product page-modal*/
#style-modal{
    background-color: #fafafa!important;
    border: 1px solid transparent;
}