@import url('https://fonts.googleapis.com/css?family=Numans');

/* NAVBAR */
/* Navigationbar and its styling */
.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #000000de;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-dark .navbar-brand {
    max-width: 100px;
}

.navbar .navbar-nav a {
    font-weight: bold;
    width: 120px;
    text-align: center;
}

.fixed-top a {
    width: 50%;
    height: 50%;
    margin-right: 0px;
}

.ml-auto {
    margin-left: 0!important;
}

.logo-header {
    margin: -14px;
    width: 6rem;
    padding-left: 15px;
}

.social-icon{
    min-width: 118px;
    margin-right: 5rem!important;
    margin-left: 2rem;
}

.social-icon span{
    font-size: 20px;
    margin-left: 10px;
    color: rgb(70, 185, 46);
}

.social-icon span:hover{
    color: rgb(9, 77, 9);
    cursor: pointer;
}

.btn{
    padding: 0;
    vertical-align: inherit;
}

.dropdown-menu{
    min-width: 15rem;
    background-color: #000000de;;
}

.dropdown-item{
    color: rgba(255,255,255,.5);
}

.dropdown-item:active{
    color: #fff;
}

.dropdown-item:hover{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.753);
}

.margin-top{
    margin-top: 3px;
}

/*Search-bar*/
.searching {
    width: 150px;
    border-radius: 7px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searching {
    display: inline;
    border: 1px solid transparent;
    background-color: #000000de;
    padding: .375rem 1rem;
    max-height: 30px;
}

.main-search{
    display: inline;
    border: 1px solid transparent;
    min-width: 200px;
}

.main-search{
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.main-search:focus{
    width: 80%;
}

.searching::placeholder
.searching:-ms-input-placeholder
.searching::-ms-input-placeholder{
    color: rgba(255, 255, 255, 0.753);
}
/* NAVBAR END */

/* PAGE BODY */
html,body{
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
}

/* PAGE BODY END*/

/* MODAL */
.modal-color{
    color: #000000;
}
div .modal-header{
    display: block!important;
}
.modal-content{
    min-height: 80vh;
}

table{
    margin: 0px 50px;
    margin-top: 20px;
}

.product-info{
    min-height: 90vh;
    border-width: 0;
}

/* JUMBOTRON */
.jumbotron {
    border-radius: 25px;
    display: inline-block;
    background-color: white;
    min-height: 90vh;
    width: 150vh;
}

.container-fluid{
    text-align: center;
}

.search-jumbo{
    background-color: rgb(10, 10,10, 0.5);
    color: #fafafa;
    min-height: 30vh;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

@media(max-width: 768px) {
    .jumbotron {
        padding: 4rem 2rem;
    }
}

/* MEDIA */
/* aligns navitems to the right */
@media (min-width: 991px) {
    .navbar-expand-lg .navbar-collapse {
        flex-direction: row-reverse;
    }
    .mr-auto, .mx-auto {
        margin-right: 10px!important;
    }
}

@media(max-width: 991px) {
    .margin-adjust {
        margin-top: 14px;
    }
    .nav-item a{
        text-align: left!important;
    }
}

@media(max-width: 991px){
    .social-icon {
    margin-left: 0px;
    }
}
/* MEDIA END*/